<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="AFix Category"
            id="cn.yyx.labtask.afix.commands.afix">
      </category>
      <command
            name="Fix Atom Bug"
            categoryId="cn.yyx.labtask.afix.commands.afix"
            id="cn.yyx.labtask.afix.commands.afixcommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="cn.yyx.labtask.afix.commands.afixcommand"
            class="cn.yyx.labtask.afix.handlers.AFixHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cn.yyx.labtask.afix.commands.afixcommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="AFix Menu"
               mnemonic="M"
               id="cn.yyx.labtask.afix.menus.afixMenu">
            <command
                  commandId="cn.yyx.labtask.afix.commands.afixcommand"
                  mnemonic="S"
                  id="cn.yyx.labtask.afix.menus.afixcommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="cn.yyx.labtask.afix.toolbars.afixToolbar">
            <command
                  commandId="cn.yyx.labtask.afix.commands.afixcommand"
                  icon="icons/atombutton.png"
                  tooltip="Say hello world"
                  id="cn.yyx.labtask.afix.toolbars.afixcommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="cn.yyx.labtask.afix.fixshowcategory"
            name="AFix View">
      </category>
      <view
            category="cn.yyx.labtask.afix.fixshowcategory"
            class="cn.yyx.labtask.afix.gui.AtomFixesView"
            icon="src/cn/yyx/labtask/afix/gui/atomfixicon.png"
            id="cn.yyx.labtask.afix.fixshowview"
            name="Atom Fixes">
      </view>
   </extension>

</plugin>
